[prtouch_v3]
z_offset: 0
speed: 5
samples: 1
samples_result: average
samples_tolerance_retries: 5
samples_tolerance: 0.5
prth_clr_probe_pos:150,355
step_swap_pin: !PC7
pres_swap_pin: nozzle_mcu:PA15

prth_msg_show: True
#prth_dbg_ippt: 172.21.20.205

pres_cs0_pin: nozzle_mcu:PB13, nozzle_mcu:PB14
pres_tri_hold:4000, 10000, 500
# prth_tmp_comp: 26,300,0,0.135 # By default, non-linear temperature compensation is enabled. # Use "26,300,0,0.11" for 2.5mm non-thinned strain gauge + increased excitation voltage. # Use "26,300,0,0.135" for thinned strain gauge.
enable_not_linear_comp: True # Enable non-linear temperature compensation. Set to True to enable, False to use linear compensation.
pres_cfg_regs:60 #60（1280/128）44（640/128）56（1280/64）
# prth_min_fans:0.8 # 0.1 to 1.0: To ensure accuracy during leveling, the fan should be turned off or set to a lower speed.
# prth_gas_calr:0.001 # Square root of the Gaussian filter standard deviation, range: 0.001 to 10. # Smaller values reduce the smoothing effect on the bed mesh. # Comment out this line to disable the filter.

prth_max_chps:8
prth_tri_zacc:1000
prth_min_fans:0.6
# regional_prtouch_switch: False  # Enables or disables area-based mesh leveling. Set to True to enable (default), or False to disable.
